.screen{
    width: 100vw;
    height: 100vh;
    background-color: #F6F6F6;
}

@import "./login/index";
@import "./signup/index";
@import "./userProfile/index";
@import "./caseDayInfo/index";
@import "./userProfile/index";
@import "./interventionsInfo/index";
@import "./form/index";
@import "./admin/index";