.item-wrapper {
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
    max-width: 320px;
    display: flex;
    align-items: center;
    height: 68px;
    justify-content: space-between;
    cursor: pointer;
    padding:0 5px;
    .flex-1 {
        display: flex;
        align-items: center;

        .img-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 60px;
        }

        .item {
            margin-left: 5px;
            .item-name {
                font-weight: bold;
                margin-bottom: 5px;
                text-transform: capitalize;
            }

            .item-desc {
                font-weight: 500;
            }
        }
    }
}