.header {
    display: flex;
    background-color: white;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 25px;

    .invisible {
        width: 20px;
    }

    .info {
        display: flex;
        font-weight: bold;
        font-size: 18px;
        align-items: center;
    }

    .logout {
        font-size: 18px;
        height: fit-content;
        padding: 15px;
        color: $green-primary;
        cursor: pointer;
    }
}