.case-day-screen {
    display: flex;
    flex-direction: column;
    align-items: center;

    .subheader {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;

        .back-button {
            margin-left: 20px;
            cursor: pointer;
        }

        .title {
            font-size: 30px;
            font-weight: bold;
        }

        .empty {
            width: 60px;
        }

    }

    .info-container {
        display: grid;
        grid-template-columns: 120px 120px;
        gap: 30px 0;
        padding:0 15px;

        .date,
        .time,
        .alert_type,
        .temperature {
            width: 120px;
            display: flex;
            font-weight: 500;
            align-items: center;
            justify-content: center;

            .content {
                width: 100px;
                margin-left: 15px;
                text-align: start;
            }
        }
        .time,
        .temperature{
            margin-left: 15px;
            .content{
                width: 50px;
            }
        }
        
    }

    .symptoms {
        .text {
            font-size: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            font-weight: bold;
        }

        .symptoms-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .symptom {
                background-color: #666666;
                display: flex;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                justify-content: center;
                align-items: center;
                font-weight: bold;
                font-size: 16px;
                text-transform: capitalize;
                border-radius: 5px;
                height: 32px;
                width: 300px;
                color: white;
                margin: 10px 0;
            }
        }
    }

}