.admin-panel {
    display: flex;
    flex-direction: column;
    .header{
        margin-bottom: 0;
    }
    .navbar {
        display: flex;
        margin-top: auto;
        width: 100%;
        height: 66px;
        background-color: #c4c4c4;
        justify-content: space-between;

        .link {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 14px;

            img {
                width: 40px;
                height: 40px;
            }
        }

        .active {
            background-color: #9BE17C;
        }
    }
}


@import "./patients/index";
@import "./team/index";
@import "./teamInfo/index";
@import "./patientInfo/index";