.team-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    .subheader {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;

        .back-button {
            margin-left: 20px;
            cursor: pointer;
        }

        .title {
            font-size: 30px;
            font-weight: bold;
        }

        .empty {
            width: 60px;
        }

    }


    .delete {
        background-color: #EB5757;
        margin-top: 20px;
    }

    .member-wrapper {
        background-color: #666666;
        display: flex;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        justify-content: space-between;
        padding: 0 15px;
        align-items: center;
        font-weight: bold;
        font-size: 16px;
        text-transform: capitalize;
        border-radius: 5px;
        height: 38px;
        width: 300px;
        color: white;
        margin: 10px 0;
    }

    .backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0px;

        .modal {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 320px;
            // min-height: 320px;
            height: fit-content;
            // align-items: center;
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
            border-radius: 5px;
            background-color: white;
            padding: 25px 15px;
            padding-bottom: 0;

            .exit {
                position: absolute;
                right: 10px;
                top: 10px;
                z-index: 25;
                width: 24px;
                height: 24px;
                max-width: 24px;
                max-height: 24px;
            }
            .error{
                margin-bottom: 10px;
            }
            .button {
                margin-top: 15px;
            }

            .modal-header {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .label {
                display: flex;
                justify-content: flex-start;
                font-size: 18px;
                font-weight: bold;
                width: fit-content;
            }

            .covid-name-input {
                background-color: white;
                border: 1px solid #A3A3A3;
                border-radius: 5px;
                height: 32px;
                padding: 15px 8px;
                margin: 15px 0;
            }
            .button{
                align-self: center;
                margin-top: 2%;
                margin-bottom: 15px;
                cursor: pointer;
            }
        }
    }
}